.main-row {
	padding: 120px 0;
}
.line {
	height: 4px;
}
.btn-lg {
	margin-top: 60px;
	border: none;
	padding: 15px 70px;
	font-size: 15px;
}
.btn-lg:focus {
	box-shadow: none;
}
.navbar {
	background-color: #87509c;
	padding-top: 40px; 
}
.navbar a {
	color: #ffffff;
}
.main-row-purple{
	background-color: #87509c;
	color: #ffffff;
}
.main-row-purple .btn-lg {
	background-color: #eb7d4b;
	border-bottom: 4px solid #c86a40;
}
.main-row-purple .btn-lg:hover {
	background-color: #c86a40;
}
.main-row-green {
	background-color: #17c2a4;
	color: #ffffff;
}
.main-row-green .line{
	background-color: #14a58c;
}
.services {
	margin-top: 80px;
}
.services h5 {
	margin-top: 60px;
}
.services img {
	height: 130px;
}
.main-row-grey {
	background-color: #e7f1f8;
}
.main-row-grey .line{
	background-color: #c8d9e5;
}
.main-row-grey .dot {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: #878787;
	margin: 50px auto 30px auto; 
}
.main-row-grey h6 {
	color: #48c1e9;
}
i {
	color: #bdd1df;
}
.main-row-white {
	padding: 120px 0;
}
.main-row-white .line {
	background-color: #dfe8ed;
}
.main-row-yellow {
	background-color: #ffdd99;
}
.main-row-yellow .line{
	background-color: #e5c37f;
}
.button {
	border-style: 1px solid transparent;
	border-radius: 5%;
	font-size: 15px;
	height: 40px;
	color: #000000;
}
.button-purple:hover{
	background-color: #643a79;
}
.button-yellow{
	background-color: #ebc985;
}
.button-yellow:hover{
	background-color: #ffffff;
}
.main-row-yellow img {
	height: 300px;
}
.main-row-yellow h6 {
	margin-top: 30px;
}
.main-row-yellow .btn-lg {
	background-color: #17c2a4;
	border-bottom: 4px solid #14a58c;
}	
.main-row-yellow .btn-lg:hover {
	background-color: #14a58c;
}
.main-row-pink {
	background-color: #d74680;
	color: #ffffff;
}
.main-row-pink .line{
	background-color: #b73c6d;
}
.main-row-pink .dot {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: #787878;
}
.bottom-two {
	margin-top: 150px;
}
.main-row-pink p {
	font-style: italic;
}
.main-row-pink h6 {
	color: #ffdd99;
}

.main-row-blue {
	background-color: #3c5499;
	color: #ffffff;
}
.main-row-blue .line{
	background-color: #273a71;
}
.main-row-blue .top-info {
	font-size: 10px;
}
.form-control {
	background-color: #273a71;
	color: #ffffff;
	border-style: none;
}
.form-control::placeholder { 
	color: white;
	font-size: 10px;
}
.main-row-blue .btn-lg {
	background-color: #30bae7;
	border-bottom: 4px solid #299ec5;
}
.main-row-blue .btn-lg:hover{
	background-color: #299ec5;
}
.footer {
	background-color: #344b8e;
	padding: 30px 0;
}
.footer a {
	color: #ffffff;
	margin: 0 10px;
	font-size: 24px;
}
.footer a:hover {
	color: #30bae7;
}